:root {
  --black: #1d1d1a;
  --offset: #363630;
  --white: #ffffff;
  --gray: #8f9ba8;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

input, textarea, button {
  margin: 0;
  padding: 0;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  font-family: "Inter", sans-serif;
  padding-bottom: 2rem;
}

p {
  margin: 1rem 0;
}

em {
  color: var(--white);
}

/* Nav */

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .controls {
  display: none;
}

.logo {
  max-height: 48px;
}

.logo-color-odd,
.logo-color-even {
  transition: 0.7s ease;
}

/* About */

.about {
  width: 100%;
  padding: 1rem;
}

.about h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 0;
  background-image: linear-gradient(45deg, #80FFEA, #8AFF80);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.about .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--gray);
}

.about .profile .profile-image {
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto 1rem auto;
}

.about p {
  line-height: 1.5rem;
}

.quote {
  border-left: 3px solid var(--offset);
  margin-top: 1rem;
  padding-left: 1rem;
  display: flex;
  height: 60px;
}

.quote-marks {
  font-family: "Times", "Inter", serif;
  content: open-quote;
  color: var(--offset);
  font-size: 4rem;
  margin-right: 1rem;
}

.quote .content {
  padding-top: 1rem;
}

.quote .phrase {
  font-style: italic;
}

.quote .author {
  font-weight: bold;
  text-align: right;
}

.quote p {
  margin: 0;
}

/* Projects */

.projects {
  margin: 1rem;
}

.projects h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0 1rem 0;
  background-image: linear-gradient(45deg, #FF80BF, #9580FF);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.projects .video {
  background: var(--white);
  border-radius: 3px;
}

.projects .video .content {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: 3px 3px 0 0;
}

.projects .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
}

.projects .video .label {
  padding: 1rem;
  font-weight: bold;
  color: var(--black);
}

.projects .video + .video {
  margin-top: 2rem;
}

/* FAQ */
.faq {
  margin: 1rem;
}

.faq h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 3rem 0 1rem 0;
  background-image: linear-gradient(45deg, #9442FE, #3378FF);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.faq .faq-item {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--gray);
  color: var(--white);
}

.faq .faq-item:hover {
  cursor: pointer;
}

.faq .faq-item.last {
  border-bottom: 1px solid var(--gray);
}

.faq .faq-item .controller {
  margin-left: 1rem;
}

.faq .faq-item .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5rem;
}

.faq .faq-item .answer {
  width: calc(100% - 32px);
  color: var(--gray);
  margin-top: 0.5rem;
  line-height: 1.5rem;
  display: none;
}

.faq .faq-item .controller {
  transition: .2s ease;
  top: 50%;
  left: 50%;
}

/* Contact */
.contact {
  margin: 1rem 0 3rem 0;
}

.contact h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 0;
  background-image: linear-gradient(45deg, #9580FF, #80FFEA);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.contact ul {
  margin-top: 64px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact li {
  width: 36px;
}

.contact li + li {
  margin-left: 2rem;
}

.contact svg {
  width: 100%;
  height: auto;
  fill: #fff;
  transition: .2s ease;
}

.contact .mail:hover {
  fill: #9442FE;
}

.contact .behance:hover {
  fill: #053EFF;
}

.contact .instagram:hover {
  fill: #DD2A7B;
}

.contact .twitter:hover {
  fill: #00ACEE;
}

@media only screen and (min-width : 480px) {
  nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  nav .controls {
    display: block;
  }

  nav .controls a {
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    transition: .2s ease;
  }

  nav .controls a:hover {
    color: var(--gray);
  }

  nav .controls a + a {
    margin-left: 2rem;
  }

  main {
    max-width: 960px;
    margin: 0 auto;
  }

  h1,
  h2 {
    font-size: 48px !important;
    margin-top: 2rem !important;
  }

  .about .profile {
    flex-direction: row;
  }

  .about .profile .profile-image {
    margin-right: 1rem;
  }

  .projects: {
    max-width: 960px;
    flex-wrap: wrap;
  }

  .projects article {
    display: flex;
    flex-direction: column;
  }

  .projects .video {
    margin-top: 2rem !important;
  }
}