:root {
  --black: #1d1d1a;
  --offset: #363630;
  --white: #ffffff;
  --gray: #8f9ba8;

  --switch-height: 3rem;
  ---border-radius: 2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
button {
  margin: 0;
  padding: 0;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  font-family: "Inter", sans-serif;
  padding-bottom: 2rem;
  /* background-image: url("https://www.transparenttextures.com/patterns/cartographer.png"); */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
}

p {
  margin: 1rem 0;
}

em {
  color: var(--white);
}

/* Nav */

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .controls {
  display: none;
}

.logo {
  max-height: 48px;
}

.logo-color-odd,
.logo-color-even {
  transition: 0.7s ease;
}

/* About */

.about {
  width: 100%;
  padding: 1rem;
}

.about h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 0;
  background-image: linear-gradient(45deg, #80FFEA, #8AFF80);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.about .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--gray);
}

.about .profile .profile-image {
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto 1rem auto;
}

.about p {
  line-height: 1.5rem;
}

.quote {
  border-left: 3px solid var(--offset);
  margin-top: 1rem;
  padding-left: 1rem;
  display: flex;
  height: 60px;
}

.quote-marks {
  font-family: "Times", "Inter", serif;
  content: open-quote;
  color: var(--offset);
  font-size: 4rem;
  margin-right: 1rem;
}

.quote .content {
  padding-top: 1rem;
}

.quote .phrase {
  font-style: italic;
}

.quote .author {
  font-weight: bold;
  text-align: right;
}

.quote p {
  margin: 0;
}

/* Projects */

.projects {
  margin: 1rem;
}

.projects h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0 1rem 0;
  background-image: linear-gradient(45deg, #FF80BF, #9580FF);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.projects .video,
.projects .app {
  background: var(--offset);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: var(---border-radius);
  /* backdrop-filter: blur(2px); */

  /* ANIMATION */
  transform: translateY(100%) scale(80%);
  opacity: 0;
  height: 0;
  margin: 0;
}

.projects .artist .video,
.projects .dev .app {
  transform: translateY(0) scale(100%);
  height: auto;
  opacity: 1;
  margin-top: 2rem;
  transition: opacity 1s ease, transform 1s cubic-bezier(0.000, 0.880, 0.395, 1.010);
}

.projects .video .content,
.projects .app .content {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: var(---border-radius) var(---border-radius) 0 0;
}

.projects .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(---border-radius) var(---border-radius) 0 0;
}

.projects .app img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(---border-radius) var(---border-radius) 0 0;
}

.projects .app .content a img {
  transition: 0.5s;
}

.projects .app .content a:hover img {
  opacity: 0.3;
}

.projects .app .label a {
  color: var(--white);
}

.projects .comparasion {
  height: 100%;
  width: 50%;
  margin: auto;
}

.projects .app .label,
.projects .video .label {
  padding: 1rem 2rem;
  color: var(--white);
}

.projects article b {
  font-weight: bold;
}

/* FAQ */
.faq {
  margin: 1rem;
}

.faq h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 3rem 0 1rem 0;
  background-image: linear-gradient(45deg, #9442FE, #3378FF);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.faq .faq-item {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--gray);
  color: var(--white);

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faq .faq-item:hover {
  cursor: pointer;
}

.faq .faq-item.last {
  border-bottom: 1px solid var(--gray);
}

.faq .faq-item .controller {
  margin-left: 1rem;
}

.faq .faq-item .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5rem;
}

.faq .faq-item .answer {
  width: calc(100% - 32px);
  color: var(--gray);
  margin-top: 0.5rem;
  line-height: 1.5rem;
  display: none;
}

.faq .faq-item .controller {
  transition: .2s ease;
  top: 50%;
  left: 50%;
}

/* Contact */
.contact {
  margin: 1rem 0 3rem 0;
}

.contact h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 0;
  background-image: linear-gradient(45deg, #9580FF, #80FFEA);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.contact ul {
  margin-top: 64px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact li {
  width: 36px;
}

.contact li+li {
  margin-left: 2rem;
}

.contact svg {
  width: 100%;
  height: auto;
  stroke: #fff;
  transition: .2s ease;
}

.contact .mail:hover,
.contact .linkedin:hover,
.contact .instagram:hover,
.contact .twitter:hover,
.contact .github:hover {
  transform: translateY(-10%);
}

.contact .mail:hover {
  stroke: #9442FE;
}

.contact .linkedin:hover {
  stroke: #053EFF;
}

.contact .instagram:hover {
  stroke: #DD2A7B;
}

.contact .twitter:hover {
  stroke: #00ACEE;
}
.contact .github:hover {
  stroke: #7b00ee;
}

.container {
  display: flex;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: var(--switch-height);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #FF80BF, #9580FF);
  border-radius: var(--switch-height);
  overflow: hidden;
  transition: background-image 0.4s;
  /* fallback */
}

.slider::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(45deg, #8AFF80, #3378FF);
  border-radius: var(--switch-height);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: var(--switch-height);
  background: var(--white);
  transition: 0.5s;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

input:checked+.slider::after {
  opacity: 1;
}

input:checked+.slider .artist,
.slider .dev {
  color: var(--offset);
  opacity: 1;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  transform: scale(120%);
  transition: 0.5s;
}

input:checked+.slider .dev,
.slider .artist {
  color: var(--white);
  opacity: 0.6;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0));
  transform: scale(100%);
  transition: 0.5s;
}

input:checked+.slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.slider .title {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  font-weight: bold;
}

.slider .title div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 1rem;
}


@media only screen and (min-width : 480px) {
  nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  nav .controls {
    display: block;
  }

  nav .controls a {
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    transition: .2s ease;
  }

  nav .controls a:hover {
    color: var(--gray);
  }

  nav .controls a+a {
    margin-left: 2rem;
  }

  main {
    max-width: 960px;
    margin: 0 auto;
  }

  h1,
  h2 {
    font-size: 48px !important;
    margin-top: 2rem !important;
  }

  .about .profile {
    flex-direction: row;
  }

  .about .profile .profile-image {
    margin-right: 1rem;
  }

  .projects {
    max-width: 960px;
    flex-wrap: wrap;
  }

  .projects article {
    display: flex;
    flex-direction: column;
  }

  .switch {
    width: 50%
  }
}
